
/* FONT ABEL */
@font-face{
    font-family: Abel;
    src:url('../fonts/Abel/Abel-Regular.ttf');
}


/* FONT ANTON */
@font-face{
    font-family: Anton;
    src:url('../fonts/Anton/Anton-Regular.ttf');
}
/* FONT JOSEFINE */
@font-face{
    font-family: Josefin;
    src:url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}
/* FONT LEXEND */
@font-face{
    font-family: Lexend;
    src:url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}
/* FONT LIVVIC */
@font-face{
    font-family: Lexend;
    src:url('../fonts/Livvic/Livvic-Regular.ttf');
}
